.banner-wrap {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  overflow: hidden;
}

.banner-wrap .top-banner {
  width: 100%;
  height: 100%;
}

.banner-wrap .top-banner img {
  width: 100%;
  height: 100%;
}