.AllComponents {
  position: relative;
}

.AllComponentsForOnePage {
  position: absolute;
  z-index: 1;
  width: 10rem;
  height: 100%;
  left: 50%;
  margin-left: -5rem;
}

.AllComponentsForOnePage .imgroll,
.AllComponents .imgroll {
  position: fixed;
  width: 100%;
  z-index: -1;
  left: 0;
  bottom: 4.933333rem;
}

.AllComponentsForOnePage .imgRollAllList,
.AllComponents .imgRollAllList {
  width: 100%;
}

.AllComponentsForOnePage .imgRollAllList img,
.AllComponents .imgRollAllList img {
  width: 100%;
}

.AllComponentsForOnePage .allimg,
.AllComponents .allimg {
  width: 10rem;
}

.AllComponentsForOnePage .allimg img,
.AllComponents .allimg img {
  width: 100%;
}

.AllComponentsForOnePage .imagebg,
.AllComponents .imagebg {
  width: 10rem;
  margin: 0 auto;
  text-align: center;
}

.AllComponentsForOnePage .imagebg img,
.AllComponents .imagebg img {
  height: 11.2rem;
}

.AllComponentsForOnePage .imagebgs,
.AllComponents .imagebgs {
  -webkit-box-flex: 1;
  width: 10rem;
}

.AllComponentsForOnePage .imagebgs img,
.AllComponents .imagebgs img {
  width: 100%;
  height: 100%;
}

.AllComponentsForOnePage .phone,
.AllComponents .phone {
  z-index: 2;
  position: absolute;
  width: 8rem;
  margin: 0 auto;
  left: 50%;
  margin-left: -4rem;
  top: 11.333333rem;
}

.AllComponentsForOnePage .phoneForOnePage,
.AllComponents .phoneForOnePage {
  z-index: 2;
  position: fixed;
  width: 8rem;
  margin: 0 auto;
  left: 50%;
  margin-left: -4rem;
  bottom: 0.826667rem;
}

.AllComponentsForOnePage .input,
.AllComponents .input {
  margin-bottom: 0.32rem;
}

.AllComponentsForOnePage .input input,
.AllComponents .input input {
  border: 1px solid #333333;
  border-radius: 0.106667rem;
  width: 7.973333rem;
  height: 1.12rem;
  font-size: 0.453333rem;
  text-align: center;
  font-family: PingFangSC-Regular;
  color: #988A1A;
  text-align: center;
}

[data-dpr="1"] .AllComponentsForOnePage .input input,
[data-dpr="1"] .AllComponents .input input {
  letter-spacing: 0.5px;
}

[data-dpr="2"] .AllComponentsForOnePage .input input,
[data-dpr="2"] .AllComponents .input input {
  letter-spacing: 1px;
}

[data-dpr="3"] .AllComponentsForOnePage .input input,
[data-dpr="3"] .AllComponents .input input {
  letter-spacing: 1.5px;
}

.AllComponentsForOnePage .response,
.AllComponents .response {
  border: 1px solid #333333;
  border-radius: 0.106667rem;
  width: 7.986667rem;
  height: 1.133333rem;
  font-family: PingFangSC-Regular;
  font-size: 0.453333rem;
  color: #333333;
  text-align: center;
  line-height: 1.133333rem;
}

[data-dpr="1"] .AllComponentsForOnePage .response,
[data-dpr="1"] .AllComponents .response {
  letter-spacing: 0.5px;
}

[data-dpr="2"] .AllComponentsForOnePage .response,
[data-dpr="2"] .AllComponents .response {
  letter-spacing: 1px;
}

[data-dpr="3"] .AllComponentsForOnePage .response,
[data-dpr="3"] .AllComponents .response {
  letter-spacing: 1.5px;
}

.AllComponentsForOnePage .download,
.AllComponents .download {
  display: block;
  border: 1px solid #ff2b00;
  border-radius: 0.106667rem;
  width: 7.973333rem;
  height: 1.12rem;
  background-color: #ff2b00;
  font-family: PingFangSC-Regular;
  font-size: 0.453333rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.12rem;
  margin-bottom: 0.186667rem;
}

[data-dpr="1"] .AllComponentsForOnePage .download,
[data-dpr="1"] .AllComponents .download {
  letter-spacing: 0.5px;
}

[data-dpr="2"] .AllComponentsForOnePage .download,
[data-dpr="2"] .AllComponents .download {
  letter-spacing: 1px;
}

[data-dpr="3"] .AllComponentsForOnePage .download,
[data-dpr="3"] .AllComponents .download {
  letter-spacing: 1.5px;
}

.AllComponentsForOnePage .btn,
.AllComponents .btn {
  border-radius: 0.106667rem;
  width: 7.973333rem;
  height: 1.12rem;
  margin: 0 auto;
  font-size: 0.493333rem;
  text-align: center;
  line-height: 1.146667rem;
  margin-bottom: 0.186667rem;
}

.AllComponentsForOnePage .rulebottom,
.AllComponents .rulebottom {
  width: 6.666667rem;
  margin: 0 auto;
}

.AllComponentsForOnePage .rulebottom p,
.AllComponents .rulebottom p {
  font-family: PingFangSC-Regular;
  font-size: 0.293333rem;
  color: #333333;
  letter-spacing: 0;
  line-height: 0.56rem;
  text-align: center;
}

.AllComponentsForOnePage .success,
.AllComponents .success {
  position: fixed;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: none;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.AllComponentsForOnePage .successbox,
.AllComponents .successbox {
  position: relative;
  width: 8.24rem;
  border-radius: 0.293333rem;
  overflow: hidden;
}

.AllComponentsForOnePage .successbox img,
.AllComponents .successbox img {
  width: 100%;
}

.AllComponentsForOnePage .button,
.AllComponents .button {
  width: 100%;
  height: 2.306667rem;
  background-color: #faecde;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.AllComponentsForOnePage .delete,
.AllComponents .delete {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}

.AllComponentsForOnePage .delete-box,
.AllComponents .delete-box {
  width: 0.933333rem;
  height: 0.933333rem;
  border-radius: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 0.933333rem 0.933333rem;
  background-image: url("//imgsize.52shangou.com/img/n/05/16/1463389690095_4800.jpg");
}

.AllComponentsForOnePage .failed,
.AllComponents .failed {
  position: fixed;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: none;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.AllComponentsForOnePage .xiazai,
.AllComponents .xiazai {
  width: 4.4rem;
  height: 1.133333rem;
  text-align: center;
  line-height: 1.133333rem;
  font-size: 0.64rem;
  color: #fff;
  background-color: #ff2b03;
  border-radius: 0.133333rem;
  font-family: "Microsoft yahei";
}