.goUp {
  position: fixed;
  right: 0.453333rem;
  bottom: 1.933333rem;
  z-index: 10;
  background: rgba(255, 255, 255, 0.89);
  width: 1.146667rem;
  height: 1.146667rem;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAhCAMAAACC5ikkAAAA51BMVEUAAAD///+AgIBVVVVAQEAzMzNVVVVJSUlAQEA5OTlAQEA3NzczMzM5OTk9PT06Ojo7Ozs1NTUzMzM6OjozMzM0NDQzMzMzMzM0NDQzMzM3Nzc3Nzc2NjY1NTU0NDQzMzM0NDQzMzM0NDQ1NTU1NTU1NTU0NDQzMzMzMzM0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQzMzM0NDQ0NDQ0NDQ0NDQ0NDQzMzM0NDQzMzMzMzM0NDQ0NDQzMzM0NDQ0NDQ0NDQ0NDQzMzMzMzMzMzM0NDQzMzM0NDQzMzM0NDQ0NDQzMzMzMzMzMzN5fkQDAAAATHRSTlMAAQIDBAUGBwgJDA4PEhUWGh0eHyMnKC0xMjM4OT5FS1RaY2p0eXt8ho2Oj5eep620tba7vMHDxcjNz9ja3uLj5+rr7vH09vn7/P3+86F6WgAAAOlJREFUOMvt0tlSwkAUhOEfRRBFRUFxRzFgFBFwiSsC4oLQ7/88XoCpSTKEe8q+nPpmaur0gUhSCWYn3xoOasuzVLErSfer8eqgrzupo6f1OHX8qUZayr/qZXO6OvlWfRGJjWe9bU9T5R9dJkCCrKferl050jmMGZkbfRzZlKvRGT5j6VpfpQhauNLgFIOZJ37MuxNmvP+XwE98hiNVDZX11NsjyigPdeE3HJqSwSaTBGArNHOTjXsB2Ak3GGAc9nW7Avvv4X0IMopdPa7RVjNDHKPQlkfFTRLPyD00La1FmD3/bP5Yy7IPv+XxL8V5ndC6AAAAAElFTkSuQmCC);
  background-size: 0.533333rem 0.533333rem;
}

[data-dpr="1"] .goUp {
  border: 1px solid #dbdbdb;
  box-shadow: 0.5px 2px 5px rgba(153, 153, 153, 0.5);
}

[data-dpr="2"] .goUp {
  border: 2px solid #dbdbdb;
  box-shadow: 1px 4px 10px rgba(153, 153, 153, 0.5);
}

[data-dpr="3"] .goUp {
  border: 3px solid #dbdbdb;
  box-shadow: 1.5px 6px 15px rgba(153, 153, 153, 0.5);
}