.limitTime-wrap {
  margin: 0.266667rem 0 0.2rem 0;
  position: relative;
  z-index: 0;
}

.imgbox {
  position: relative;
  overflow: hidden;
}

.list-view-wrap {
  padding: 0 0.266667rem 0 0.266667rem;
}

.list-view-wrap .soldoutdivwrap {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
}

.list-view-wrap .soldoutdiv {
  position: absolute;
  background: rgba(102, 102, 102, 0.6);
  width: 1.466667rem;
  height: 1.466667rem;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  margin-left: -0.733333rem;
  margin-top: -0.733333rem;
  font-family: PingFangSC-Regular;
  color: #ffffff;
  text-align: center;
  line-height: 1.466667rem;
}

[data-dpr="1"] .list-view-wrap .soldoutdiv {
  font-size: 12px;
  letter-spacing: 0.63px;
}

[data-dpr="2"] .list-view-wrap .soldoutdiv {
  font-size: 24px;
  letter-spacing: 1.26px;
}

[data-dpr="3"] .list-view-wrap .soldoutdiv {
  font-size: 36px;
  letter-spacing: 1.89px;
}

.list-view-wrap .normal-li {
  float: left;
  background: #ffffff;
  border-radius: 0.053333rem;
  width: 4.626667rem;
  height: 6.84rem;
  margin-bottom: 0.133333rem;
  position: relative;
}

.list-view-wrap .act-li {
  margin-right: 0.133333rem;
}

.list-view-wrap .list-view-wrap-box {
  padding: 0.133333rem 0.133333rem 0.266667rem 0.133333rem;
}

.list-view-wrap .list-img {
  width: 4.4rem;
  height: 4.4rem;
  margin-bottom: 0.04rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.list-view-wrap .list-img img {
  width: 100%;
  height: 100%;
}

.list-view-wrap .list-title {
  font-weight: normal;
  margin-left: 0.133333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  min-height: 0.533333rem;
  color: #000000;
  text-align: left;
  margin-bottom: 0.066667rem;
}

[data-dpr="1"] .list-view-wrap .list-title {
  font-size: 14px;
  letter-spacing: 1.205px;
}

[data-dpr="2"] .list-view-wrap .list-title {
  font-size: 28px;
  letter-spacing: 2.41px;
}

[data-dpr="3"] .list-view-wrap .list-title {
  font-size: 42px;
  letter-spacing: 3.615px;
}

.list-view-wrap .list-title .brand {
  font-family: PingFang SC Medium;
  font-weight: bold;
}

.list-view-wrap .list-title .name {
  font-family: PingFangSC-Regular;
}

.list-view-wrap .list-intro {
  font-family: PingFangSC-Regular;
  margin-left: 0.133333rem;
  color: #999999;
  text-align: left;
  line-height: 1.37em;
  height: 1.37em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-bottom: 0.16rem;
}

[data-dpr="1"] .list-view-wrap .list-intro {
  font-size: 12px;
  letter-spacing: 1.2px;
}

[data-dpr="2"] .list-view-wrap .list-intro {
  font-size: 24px;
  letter-spacing: 2.4px;
}

[data-dpr="3"] .list-view-wrap .list-intro {
  font-size: 36px;
  letter-spacing: 3.6px;
}

.list-view-wrap .price {
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
  margin-left: 0.133333rem;
  margin-right: 0.066667rem;
  overflow: hidden;
}

.list-view-wrap .pricenow {
  font-family: PingFangSC-Regular;
  color: #fa4100;
  text-align: left;
  display: -webkit-box;
  -webkit-box-align: center;
}

[data-dpr="1"] .list-view-wrap .pricenow {
  font-size: 15px;
}

[data-dpr="2"] .list-view-wrap .pricenow {
  font-size: 30px;
}

[data-dpr="3"] .list-view-wrap .pricenow {
  font-size: 45px;
}

.list-view-wrap .pricenow-tuijian {
  font-family: PingFangSC-Regular;
  color: #000000;
  text-align: left;
}

[data-dpr="1"] .list-view-wrap .pricenow-tuijian {
  font-size: 15px;
  letter-spacing: 1.165px;
}

[data-dpr="2"] .list-view-wrap .pricenow-tuijian {
  font-size: 30px;
  letter-spacing: 2.33px;
}

[data-dpr="3"] .list-view-wrap .pricenow-tuijian {
  font-size: 45px;
  letter-spacing: 3.495px;
}

.list-view-wrap .priceold {
  font-family: PingFangSC-Light;
  color: #999999;
  text-align: left;
  margin-left: 0.186667rem;
}

[data-dpr="1"] .list-view-wrap .priceold {
  font-size: 12px;
  letter-spacing: 1.2px;
}

[data-dpr="2"] .list-view-wrap .priceold {
  font-size: 24px;
  letter-spacing: 2.4px;
}

[data-dpr="3"] .list-view-wrap .priceold {
  font-size: 36px;
  letter-spacing: 3.6px;
}

.list-view-wrap .priceoldspan {
  text-decoration: line-through;
}

.list-view-wrap .before-text {
  font-family: PingFangSC-Regular;
  font-size: 0.266667rem;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 0.306667rem;
  text-align: center;
}

.list-view-wrap .btnwrapls {
  -webkit-box-flex: 1;
  min-height: 0.773333rem;
}