.PrizeDraw {
  width: 10rem;
  height: 12.306667rem;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.PrizeDraw .list-anim {
  animation-name: scroll;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  5% {
    transform: translateY(-0.666667rem);
  }

  10% {
    transform: translateY(-1.333333rem);
  }

  15% {
    transform: translateY(-2rem);
  }

  20% {
    transform: translateY(-2.666667rem);
  }

  25% {
    transform: translateY(-3.333333rem);
  }

  30% {
    transform: translateY(-4rem);
  }

  35% {
    transform: translateY(-4.666667rem);
  }

  40% {
    transform: translateY(-5.333333rem);
  }

  45% {
    transform: translateY(-6rem);
  }

  50% {
    transform: translateY(-6.666667rem);
  }

  55% {
    transform: translateY(-7.333333rem);
  }

  60% {
    transform: translateY(-8rem);
  }

  65% {
    transform: translateY(-8.666667rem);
  }

  70% {
    transform: translateY(-9.333333rem);
  }

  75% {
    transform: translateY(-10rem);
  }

  80% {
    transform: translateY(-10.666667rem);
  }

  85% {
    transform: translateY(-11.333333rem);
  }

  90% {
    transform: translateY(-12rem);
  }

  95% {
    transform: translateY(-12.666667rem);
  }

  100% {
    transform: translateY(-13.333333rem);
  }
}

.PrizeDraw .activeScroll {
  position: absolute;
  width: 2.24rem;
  height: 2.24rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAACoCAMAAABDlVWGAAAATlBMVEX/WWYAAAD/V2b/WmT/WWX/XGn/WGf/XGf/V2b/VmX/V2f/VGX/U2X/V2b/WGf/WGX/WWv/V2b/Zmb/WGb/V2f/V2b/V2f/WWf/V2f/V2aWJF55AAAAGXRSTlMUAOczKyffL+vjlTYc8rQ6DtUEkHyrY0m1xYDZIwAAAXtJREFUeNrt3blyg0AURNEGtNiITWjz/P+PmhkK20omUblo7HvSl9wiojoZFVFfn9sQHbSowpO1ru257lNiDG26MPEMjTrNoVW5ekr+Wu7HGNqU66fkrw9pnEI/DFKy16ukoVBvkJK9dopG1SG5VLK0uzaKBp3nTpkb1KZQ0+/50ykRXndM5C8k8kfoL4W+JTI2h27gwxJKKKGEmiKUUEIJNfWebCB0oz/6/jYTuk8E4O9jzSPUHWseoYQSaopQQgkl1BShEWue/BEaseYBYM0zQOiENc/6wxJKKKGEmiKUUEIJNcWaNyPUHmse8G+w5hHqjjWPUEIJNUUooYQSaorQiDVP/giNWPMAsOYZIHTCmmf9YQkllFBCTRFKKKGEmmLNmxFqjzUPeNH+vlM0KGpk6xLC4XY9zaGPsjZ9WuR4CUmtUdK9Dc92WpRhYnDtVQyqLVKy165QMd4sUrLXspmf5jJIyV7LannsbPWU7LVrpsjv5+M8Q7+ej/sEIuL0hLePOK4AAAAASUVORK5CYII=");
  background-size: 2.24rem 2.24rem;
  background-repeat: no-repeat;
}

.PrizeDraw .moveList {
  width: 100%;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.PrizeDraw .moveList li {
  height: 0.666667rem;
  font-size: 0.346667rem;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-family: Arial, sans-serif;
}

.PrizeDraw .showPosition {
  margin-top: 1.133333rem;
  margin-left: 3.4rem;
  width: 4.2rem;
  height: 0.933333rem;
  line-height: 0.866667rem;
  text-align: center;
}

.PrizeDraw .showPeople {
  position: relative;
  margin: 0 auto;
  margin-top: 0.56rem;
  margin-bottom: 0.226667rem;
  height: 0.666667rem;
  line-height: 0.666667rem;
  text-align: center;
  font-size: 0.346667rem;
  color: #ffffff;
  overflow: hidden;
}

.PrizeDraw .choujianarea {
  width: 6.906667rem;
  height: 7.093333rem;
  position: relative;
  margin: 0 auto;
  padding-top: 0.213333rem;
}

.PrizeDraw .choujianarea div:nth-child(3n) {
  margin-right: 0;
}

.PrizeDraw .jiangping {
  float: left;
  margin-right: 0.08rem;
  margin-bottom: 0.08rem;
}

.PrizeDraw .jiangping img {
  width: 2.24rem;
  height: 2.24rem;
  border-radius: 0.0512rem;
}

.PrizeDraw .wrapForPrizeDraw {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all .5s;
  -webkit-transform: scale(0);
}

.PrizeDraw .wrapInForPrizeDraw {
  position: relative;
  background: #ffffff;
  border-radius: 0.133333rem;
  width: 8.933333rem;
  padding-bottom: 0.4rem;
}

.PrizeDraw .imgForDraw {
  background: #ffffff;
  border-radius: 0.333867rem;
  width: 6.133333rem;
  height: 6.133333rem;
  margin: 0 auto;
  margin-top: 0.72rem;
}

.PrizeDraw .imgForDraw img {
  width: 100%;
  height: 100%;
}

.PrizeDraw .contentForDraw {
  font-family: PingFangSC-Regular;
  width: 6rem;
  margin: 0 auto;
  font-size: 0.373333rem;
  color: #333333;
  letter-spacing: 0.026667rem;
  line-height: 0.56rem;
  text-align: center;
  margin-top: 0.346667rem;
  margin-bottom: 0.506667rem;
}

.PrizeDraw .check {
  border: 1px solid #333333;
  border-radius: 0.106667rem;
  width: 8.106667rem;
  height: 1.04rem;
  line-height: 1.04rem;
  font-family: PingFangSC-Regular;
  font-size: 0.426667rem;
  color: #333333;
  letter-spacing: 0.053333rem;
  text-align: center;
  margin: 0 auto;
}

.PrizeDraw .continue {
  background: #ffe500;
  border: 1px solid rgba(151, 136, 0, 0.1);
  border-radius: 0.106667rem;
  width: 8.106667rem;
  height: 1.04rem;
  line-height: 1.04rem;
  margin: 0 auto;
  font-family: PingFangSC-Regular;
  font-size: 0.426667rem;
  color: #333333;
  letter-spacing: 0.053333rem;
  text-align: center;
  margin-top: 0.266667rem;
}

.PrizeDraw .chacha {
  position: absolute;
  right: 0.213333rem;
  top: 0.213333rem;
  z-index: 1;
  width: 0.666667rem;
  height: 0.666667rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABQklEQVQ4T7XVPU7DMBQAYL+qDitHyACBjQzQuZygR4AbkBsUToC4QY9QTgB7O6RjlQ49QlfiooeeVUeO6zjPkfCYxJ+f3k8M4p8WkHub5umvlC9Kqbf9vjwMOStN80sp5RwRP3e79beGb67uCzEavSNiWSv1GIsTmkj5BQC5QPzYVqtCw7Sy64cFADzF4jaKQmzqup5SYA08BO9CyWrBMXgI9cIcvA/thDWeTZYgxMzNOQcNwhpIEmqbO4PTBlN9u1C+9jzLsf2Ri+tIAPI+NBixOcDG6RkH5cOm+QlmDlF/Kk4oRXqKpMl5aEI7YV/1dfGcgnbhXjjUUr5u8eFnMKdPOXgL5qC+bvEVtIFjUA6u4SFoH67hLJu8ghBzbvO7I9waIvtHTy8uxuPnn+NxEXt7OJEXiLisqlUZHJAhd5/Z8wcpPHcm8fh84QAAAABJRU5ErkJggg==");
  background-size: 0.293333rem 0.293333rem;
  background-repeat: no-repeat;
  background-position: center center;
}