.toast-wrap-toast {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.toast-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.4rem;
  margin-top: -0.4rem;
  width: 0.8rem;
  height: 0.8rem;
  transform-origin: 50%;
  animation: preloader-spin 1s steps(12, end) infinite;
}

.toast-loading:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'><defs><line%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F><%2Fdefs><g><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F><%2Fg><%2Fsvg>");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.toast-wrap-toast-loading {
  background: #333;
  color: #fff;
  width: 1.333333rem;
  height: 1.333333rem;
  border-radius: 0.133333rem;
  z-index: 9999;
}

.toast {
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  max-width: 4.573333rem;
  padding: 0.44rem 0.653333rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.16rem;
  display: -webkit-box;
}

.t-icon {
  width: 1.133333rem;
  height: 1.133333rem;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 0.266667rem;
}

.toast-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.toast-showBox {
  border: 1px solid #f5f5f5;
  border-radius: 0.133333rem;
  font-weight: 100;
  width: 80%;
  background-color: #fff;
}

.toast-showMessage-in {
  padding: 0 0.533333rem;
}

.toast-showTitle {
  font-weight: 400;
  color: #333;
  padding-top: 0.4rem;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

[data-dpr="1"] .toast-showTitle {
  font-size: 16px;
}

[data-dpr="2"] .toast-showTitle {
  font-size: 32px;
}

[data-dpr="3"] .toast-showTitle {
  font-size: 48px;
}

.toast-showMessage {
  border-bottom: 1px solid #f5f5f5;
  min-height: 0.666667rem;
  color: #999;
  padding: 0.4rem 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
}

[data-dpr="1"] .toast-showMessage {
  font-size: 14px;
}

[data-dpr="2"] .toast-showMessage {
  font-size: 28px;
}

[data-dpr="3"] .toast-showMessage {
  font-size: 42px;
}

.t-content {
  color: #fff;
  letter-spacing: 0.026667rem;
  line-height: 1.5em;
  word-break: break-all;
}

[data-dpr="1"] .t-content {
  font-size: 16px;
}

[data-dpr="2"] .t-content {
  font-size: 32px;
}

[data-dpr="3"] .t-content {
  font-size: 48px;
}

.toast-showBtn {
  display: -webkit-box;
  -webkit-box-align: center;
}

.toast-showBtn .toast-ok {
  -webkit-box-flex: 1;
  color: #333;
  line-height: 1.2rem;
  text-align: center;
  height: 1.2rem;
}

[data-dpr="1"] .toast-showBtn .toast-ok {
  font-size: 16px;
}

[data-dpr="2"] .toast-showBtn .toast-ok {
  font-size: 32px;
}

[data-dpr="3"] .toast-showBtn .toast-ok {
  font-size: 48px;
}

.toast-showBtn .toast-lbtn {
  -webkit-box-flex: 1;
  border-right: 1px solid #f5f5f5;
  color: #333;
  line-height: 1.2rem;
  height: 1.2rem;
  text-align: center;
}

[data-dpr="1"] .toast-showBtn .toast-lbtn {
  font-size: 16px;
}

[data-dpr="2"] .toast-showBtn .toast-lbtn {
  font-size: 32px;
}

[data-dpr="3"] .toast-showBtn .toast-lbtn {
  font-size: 48px;
}

.toast-showBtn .toast-rbtn {
  -webkit-box-flex: 1;
  color: #333;
  line-height: 1.2rem;
  height: 1.2rem;
  text-align: center;
}

[data-dpr="1"] .toast-showBtn .toast-rbtn {
  font-size: 16px;
}

[data-dpr="2"] .toast-showBtn .toast-rbtn {
  font-size: 32px;
}

[data-dpr="3"] .toast-showBtn .toast-rbtn {
  font-size: 48px;
}

.toast-showBtn .toast-rbtn:active {
  background-color: #ccc;
}

.toast-showBtn .toast-lbtn:active {
  background-color: #ccc;
}

@keyframes preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}