.SeparatorBar {
	position:relative;
	height:66px;
	line-height:66px;
	padding-left:20px;
	color: #999;
	font-size:24px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100% 100%;
}
