.shop {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #f05656;
  border-radius: 0.08rem;
  width: 2.373333rem;
  height: 0.773333rem;
  font-family: PingFangSC-Regular;
  font-size: 0.346667rem;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 0.773333rem;
  z-index: 6;
}

.zh {
  z-index: 7;
}

.spcolor {
  background: #cccccc;
  color: #fff;
  border: none;
}

.btn-wrap-wrap {
  -webkit-box-flex: 1;
  height: 0.773333rem;
}

.btn-wrap-wrap .left-jia {
  -webkit-box-flex: 1;
  height: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAKCAMAAADFPS1+AAAANlBMVEXPz8/Pz88AAADV1dXS0tLR0dHR0dHg4OD////Q0NDQ0NDQ0NDQ0NDQ0NDS0tLR0dHZ2dnPz89y9qFeAAAAEXRSTlOgYAAdPo43DATt2c6zUUosFPqP4xQAAAA6SURBVBjTzcvHAcAgDATB82KCA0H9N0sL0o/5j6D2y2s0RPvM70cUi1jiDoV0ZCjRUB/zexHMLK+c2Mr9GKi/QgbDAAAAAElFTkSuQmCC);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .307rem .06rem;
}

.btn-wrap-wrap .in-num {
  -webkit-box-flex: 1;
  height: 100%;
  text-align: center;
  line-height: 0.8rem;
  font-family: PingFangSC-Regular;
  font-size: 0.4rem;
  color: #fa4100;
}

[data-dpr="1"] .btn-wrap-wrap .in-num {
  letter-spacing: 1.165px;
}

[data-dpr="2"] .btn-wrap-wrap .in-num {
  letter-spacing: 2.33px;
}

[data-dpr="3"] .btn-wrap-wrap .in-num {
  letter-spacing: 3.495px;
}

.btn-wrap-wrap .btn-before {
  border-radius: 0.106667rem;
  border: none;
  background: #c8c8c8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.btn-wrap-wrap .ab-price {
  position: absolute;
  right: -0.773333rem;
  top: 0;
  width: 1.586667rem;
  height: 0.773333rem;
  transition: right .5s;
  z-index: 1;
}

.btn-wrap-wrap .btn-wrap {
  -webkit-box-flex: 1;
}

.btn-wrap-wrap .warp-for-line {
  float: right;
  width: 0.773333rem;
  height: 0.773333rem;
  position: relative;
  z-index: 2;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, white 100%);
}

.btn-wrap-wrap .btn {
  width: 0.773333rem;
  height: 0.773333rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAuCAMAAABZAGpeAAAAVFBMVEUAAADQ0NDQ0NDPz8/Pz8/Q0NDQ0NDU1NTS0tLv7+/Q0NDPz8/Q0NDQ0NDR0dHR0dHS0tLb29vPz8/Q0NDPz8/Q0NDR0dHPz8/Q0NDY2NjZ2dnPz8/vORF/AAAAG3RSTlMAD++gYM6PHj0F9+a1pWtNMwraxMCsinYrGhRvB5cLAAAAdklEQVRIx+3SNw7AIBBE0cEJ45zT3v+eFrJxgSiWDkv8dvSqXThSXaHbBZi19DRzQU1vIxMkBogIIvg5UH1mVRnQWUM/atAQv1wBF/k0ANILlEGC0xdgIn6JACC31Oo7XGsNxRHo80UQQUBgoacazOSa65oBjm5GG0c+lMjWswAAAABJRU5ErkJggg==);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .307rem .307rem;
  background-color: #f8f8f8;
  border-radius: 0 0.106667rem 0.106667rem 0;
  border: 1px solid #dbdbdb;
  border-left: none;
}

.btn-wrap-wrap .in-ab {
  display: -webkit-box;
  -webkit-box-align: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-radius: 0.106667rem 0 0 0.106667rem;
  background-color: #f8f8f8;
}

.btn-wrap-wrap .ab-price-act {
  right: 0.773333rem;
}

.right-wrap {
  width: 100%;
}

.right-z {
  width: 2.666667rem;
  border: 1px solid #999999;
  border-radius: 0.133333rem;
  overflow: hidden;
  cursor: pointer;
}

.right-z-q {
  float: right;
  width: 2.666667rem;
  overflow: hidden;
  cursor: pointer;
}

[data-dpr="1"] .right-z-q {
  border: 0.5px solid #ff5119;
  border-radius: 5px;
}

[data-dpr="2"] .right-z-q {
  border: 1px solid #ff5119;
  border-radius: 10px;
}

[data-dpr="3"] .right-z-q {
  border: 1.5px solid #ff5119;
  border-radius: 15px;
}

.right-blue {
  color: #4a90e2;
}

[data-dpr="1"] .right-blue {
  border: 0.5px solid #4a90e2;
}

[data-dpr="2"] .right-blue {
  border: 1px solid #4a90e2;
}

[data-dpr="3"] .right-blue {
  border: 1.5px solid #4a90e2;
}

.right-z-cp {
  width: 2.666667rem;
  overflow: hidden;
}

.right-z-cp-qx {
  width: 2.666667rem;
  overflow: hidden;
}

.clip-wrap {
  position: relative;
  height: 0.533333rem;
  z-index: 1;
}

.clip-abs {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 80%;
  height: 100%;
  opacity: 0.3;
  background: #ff5119;
}

.rz-top {
  text-align: center;
  height: 0.533333rem;
  line-height: 0.533333rem;
  font-size: 0.293333rem;
  font-family: PingFangSC-Regular;
  color: #999999;
  text-align: center;
}

.rz-top-q {
  text-align: center;
  height: 0.533333rem;
  line-height: 0.533333rem;
  font-size: 0.293333rem;
  color: #ff5119;
}

.rz-top-q-blue {
  color: #4a90e2;
}

.rz-top-cp {
  width: 2.666667rem;
  height: 0.8rem;
  line-height: 0.8rem;
  background: #f5e500;
  border-radius: 0.133333rem;
  font-family: PingFangSC-Regular;
  font-size: 0.346667rem;
  color: #333333;
  letter-spacing: 0.043333rem;
  text-align: center;
  margin-bottom: 0.133333rem;
}

.rz-top-cp-qx {
  width: 2.666667rem;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.133333rem;
  font-family: PingFangSC-Regular;
  font-size: 0.346667rem;
  color: #333333;
  letter-spacing: 0.043333rem;
  text-align: center;
  margin-bottom: 0.133333rem;
}

[data-dpr="1"] .rz-top-cp-qx {
  border: 0.5px solid #333333;
}

[data-dpr="2"] .rz-top-cp-qx {
  border: 1px solid #333333;
}

[data-dpr="3"] .rz-top-cp-qx {
  border: 1.5px solid #333333;
}

.rz-bottom {
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.346667rem;
  color: #ffffff;
  background-color: #999999;
}

.rz-bottom-q {
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.346667rem;
  color: #ffffff;
  background-color: #ff5119;
}

.grabBtnBlue {
  color: #fff;
  background-color: #4a90e2;
}